@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}


h1,
h2,
h3 {
    font-family: lato, sans-serif;

    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 4px;
}


h2 {
    font-size: 140%;
}

nav {
    margin: 10px;
}

#logo {
    font-size: 250%;
    text-decoration: none;
    color: #333333;
    display: inline;
}

nav a:first-of-type {
    text-decoration: none;
}

nav a:not(:first-of-type) {
    padding: 10px;
    padding-top: 20px;
}


.push {
    margin-left: auto;
}

nav {

    text-align: center;
    display: flex;

}


#menu>a {
    margin-right: 5px;
}

/* style the container for all hero-images we have in differnt files*/

.container-hero-pics {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* style the hero image for index file*/
#hero-home {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-image: url("../images/hero.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* style the hero image for happy file*/
#happy-home {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-image: url("../images/happy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



/* style the paragrph  promise*/

#promise-title {

    font-size: 32px;
    letter-spacing: 3px;
    margin-top: 25px;

}

#promise {
    text-align: center;
    background-color: rgba(0, 0, 0, .2);
    width: 40%;
    margin: auto;
    margin-top: 40px;
    margin-left: 40px;

}

p {
    color: #012229;
    letter-spacing: 4px;
    font-weight: 900;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    font-size: large;

}

#marker {
    color: #a9621f;
    font-weight: bold;
}

#capital {
    text-transform: uppercase;
    color: #333333;

}




/* style the footer*/
.footer-frame {
    position: fixed;
    bottom: -10%;
    left: 20%;
    width: 100%;
    text-align: center;
    line-height: 50px;

}

.social-media {
    display: inline;
}

.social-media i {
    font-size: 150%;
    margin: 1%;
    padding: 4%;
    color: #090446;
}

/* style the clickable rounds*/

.round-box {
    background-color: #958270;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin: auto;
    display: flex;
}

.container-box {
    display: flex;
    margin-top: 20rem;
}

.circle-link {
    color: #000000;
    margin: auto;
}

a {
    text-decoration: none;
}

/* style the form paragraphs*/
#form {

    color: #303030;
    letter-spacing: 4px;
    font-weight: 900;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    font-size: large;
}


/* For larger to medium screens size from 1200px wide and down */

